i{
    font-size: 1.25em;
}
a{
    text-decoration:none !important;
    color: #000;
}
#main{
    height: 100vh; 
    padding-top: 4em; 
    padding-bottom: 3em; 
    background: linear-gradient(45deg, #ead38e, transparent);
    overflow-y: scroll;
}
.box{
    background: #ffffff;
    border-radius: 10px;
    padding: 1em 0.25em 0.25em 0.25em;
    margin: 0.5em auto;
    box-shadow: 0px 1px 10px rgba(0 0 0 /0.1);
}
.box i{
    color: #ffc107;
    font-size: 1.5em;
}
#tabs{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.75em;
    background: #ffc107;
    z-index: 999;
    width: 100%;
}
#main h1{
    font-size: 1.5em;
    text-align: center;
    font-weight: 200;
}
.logo{
    width: 100px;
    margin: 4em auto;
}
input.form-control,
select.form-control{
    background: #fff;
    height: 45px;
    border: none;
    border-radius: 10px;
}
.card h3{
    font-size: 1.25em;
}
.cstm-modal{
    position: absolute;
    width: 93%;
    left: 50%;
    top: 50%;
    height: 250px;
    transform: translate(-50%,-50%);
    background: #ffc107;
    border-radius: 10px;
    z-index: 999;
    box-shadow: 0px 5px 15px rgba(0 0 0 / 0.2);
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear ;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.dismiss{
    position: absolute;
    right: 3%;
    top: 3%;
}
.no-modal{
    -webkit-transform: scale(0) translate(-50%,-50%);
    transform: scale(0) translate(-50%,-50%);
}
.yes-modal{
    -webkit-transform: scale(1) translate(-50%,-50%);
    transform: scale(1) translate(-50%,-50%);
}
.blur{
    filter: blur(4x);
}

